# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = websCrapper.settings
FTP_USER = "SimonTheScrapper@gmail.com"
FTP_PASSWORD = "MotherScrapper420"

[deploy]
#url = http://localhost:6800/
project = websCrapper