{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{% static "Benjamins.css" %}"  type="text/css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<title>Benjamin Appreciation</title>
		
	</head>
	<body>
	    <div class="container-formatting">
			<h1 class="container-heading">Benjamin Appreciation</h1>
				
			<p>In an attempt to forgo his virginity Benjamin Fairhurst (the Welshman) 
			initially resorted in common Welsh debauchery before claiming female sheep, 'Clottie'</p>
		</div>

		<div class="container-tabs">
			<input hidden type="radio" id="about"> 
			<label for="about"><a class="nav-link link-color" href="benjamin/about">About Us</a></label>
		</div>
	</body>
</html>