{% load static %}


{% if latest_question_list %}
    <head>
        <link rel="stylesheet" href="{% static "Benjamins.css" %}"  type="text/css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>Main</title>
    </head>
   
    <body>
        {% for question in latest_question_list %}
            <div class="container-formatting data-tabs">
                <input hidden type="radio" id="maindetail"> 
                <label for="maindetail"><a class="nav-link link-color" href="{% url 'main:detail' question.id %}">{{ question.question_text }}</a></label>
            </div>
        {% endfor %}
            <div class="container-formatting data-tabs">
                <input hidden type="radio" id="benjie"> 
                <label for="benjie"><a class="nav-link link-color" href="benjamin">Benjamin OwO</a></label>
            </div>
    </body>
{% else %}
    <p>No polls are available.</p>
{% endif %}
